<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    body{
        margin: 0;
        padding: 0;
        /* box-sizing: border-box; */
    }
.divone{
    background: red;
    color:white;
    width: 200px;
    height:200px;
    /* padding-right: 20px;
    margin-left: 20px; */
    box-sizing: border-box;
}
.divone p{
    color:blue;
    transform:translateY(50px);

}
</style>
<body>
    <div class="box-sizing">
        <div class="divone">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, asperiores.</p>
        </div>
    </div>
</body>
</html>