body{
    margin:0;
    padding:0;
}
ul{
    list-style: none;
   
    
   
}
ul li{
   
    padding: 10px;
    display: inline-block;
    
}
ul li a{
 text-transform: uppercase;
 text-decoration: none;
 /* border-right: 2px solid red; */
 padding-right:7px;
}
/* //Psuedo class // */
/* Hover */
ul li a:hover{
   
    color: bisque;
}
/* Active */
ul li a:active{
    
}
.active,ul li a:hover{
    color: red;
}
/* First child */
ul li:first-child a{
    color:greenyellow;
}
ul li:last-child a{
    color:orangered;
}
ul li:last-child a{
    border-right: none;
}
/* nth Child  */
ul li:nth-child(3) a{
    color:grey;
};

.firstline p::first-line{
    background-color:green;
    color:red;
    font-size: 50px;
}
.firstline p{
    color: green;
}
ul li::after{
    content:'/';
}