<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    .layout{
        padding: 20px;
       min-height: 500px;
        
        background:url(homeslider.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    /* background-size: cover; */
    } */
    
    .container{
        width: 80%;
        margin:0 auto;

    }
    .rowone{
        height: 200px;
        width: 200px;
        /* background-color: red; */
        float:left;
      
        
	
    }

</style>
<body>
    <div class="layout">
    <div class="container">
      <div class="rowone">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, vitae reprehenderit! Voluptate molestiae quis doloremque, illum nisi eum voluptatem obcaecati.</p>
      </div>
      <div class="rowone">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, vitae reprehenderit! Voluptate molestiae quis doloremque, illum nisi eum voluptatem obcaecati.</p>
            </div>
            <div class="rowone">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, vitae reprehenderit! Voluptate molestiae quis doloremque, illum nisi eum voluptatem obcaecati.</p>
                    </div>
                    <div class="rowone" >
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, vitae reprehenderit! Voluptate molestiae quis doloremque, illum nisi eum voluptatem obcaecati.</p>
                            </div>
    </div>
</div>
</body>
</html>