body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
main{
    width: 75%;
    margin: 50px auto;
    border: 1px solid grey;
    display: grid;
    color:white;
    grid-template-rows: 60px 100px 200px 60px;
    /* grid-template-columns: repeat(3,150px)100px; */
    grid-template-columns: repeat(3,1fr)150px;
    grid-gap: 20px;
}
.div1{
background: greenyellow;
grid-column: 1/-1;
}
.div2{
    background: rgb(255, 47, 134);
    }
    .div3{
        background: orangered;
    }
    .div4{
        background: grey;
    }
    .div5{
        background:blueviolet;
        /* grid-row: 1/4; */
        grid-row: 2/4;
         grid-column: 4/5;
    }
    .div6{
        background: darkred;
        grid-column: 1/4;
    }
    .div7{
        background: palegoldenrod;
        grid-column: 1/-1;
    }